@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
    background-image: linear-gradient(
        to bottom,
        #444BF0 0%,
        #444BF0 70%,
        white 70%,
        white 100%
    );
    height: 100vh;

    font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
}
.container{
    display: flex;
    margin-left: 10px;
}
#cont{
    margin-left: 100px;
}
a:hover {
	text-decoration: none;
}
#icfes{
    font-size: 60px;
    color:  white;
}
#min{
    font-size: 20px;
    
}
#pros{
    font-size: 20px;
}

.card{
    border-radius: 0px;
    margin-left: 10px;
    height: 250px;
    flex: 1;
    transition: .3s all ease;
} 
.card:hover{
    flex: 2;
}
#elem{
    margin: auto;
    color: #2b2e38;
}
#ic{
    font-size: 20px;
    margin: auto;
    color: #2b2e38;
    font-weight: bold;
}
#b{
    color: #000;
    font-size: 60px;
}
#minis{
    margin: auto;
    margin-top: 20px;
    color: #000;

}

.btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: #000000;
  }
  .btn:hover{  
    background-color: #000000;
    color: white;
    box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
  }

#bo{
    background-color: rgba(16,39,112,.2);
}

#car{
    height: 460px;
    background-color: white;
    flex: 1;
    transition: .3s all ease;
}
#liveToast{
    background-color: #66D481;
}
#carro{
    height: 460px;
}
#im{
    height: 400px;
}
#pri{
    margin-left: 100px;
}

#inbox{
    margin-left: 150px;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: white;
    background-image: url('/img/pattern_japanese-pattern-2_1_2_0-0_0_1__ffffff00_000000.png');
    position: absolute;
    border-radius: 6px;
    width: 940px;
    max-width: 100%;
    height: 450px;
    margin-left: 230px;
  }
  .center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 45%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }

  #azul{
    color: #444BF0;
  }
  #imf{
    width: 479px;
    height: 210px;
    
  }
  #foto{
    width: 200px;
    height: 300px;
    margin-left: 80px;
  }
  #logo{
    width: 400px;
    height: 300px;
    margin-left: 1px;
  }

  #nom{
    margin-left: 65px;
  }
  #ude{
    margin-left: 90px;
  }

#quejas{
    color: white;
    margin-left: 280px;
}
#reclamos{
    margin-left: 250px;
}

#boto{
    margin-left: 600px;
}